# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

inference/
inference_results/
output/
onnx_models/

*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea
*.onnx

*.log
.clang-format
.clang_format.hook

build/
dist/
/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/
